# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/ipch
/Debug
/XUI/Debug
/*.suo
/*.opensdf
/*.sdf
/*.suo
/XUI/*.user
/XUI/Release/*.tlog
/XUI/Release/*.obj
/XUI/Release/*.pdb
/XUI/Release/*.lastbuildstate
/XUI/Release/*.cache
/XUI/*.suo
/XUI/ipch/xui-edc54a9/*.ipch
/XUI/Release/*.log
